In [1]:
import pandas as pd
import redis

In [2]:
df = pd.read_csv('desc_categ.csv')

In [3]:
df

                                      key  value
0      WHITE HANGING HEART T-LIGHT HOLDER      2
1                     WHITE METAL LANTERN      4
2          CREAM CUPID HEARTS COAT HANGER      4
3     KNITTED UNION FLAG HOT WATER BOTTLE      4
4          RED WOOLLY HOTTIE WHITE HEART.      4
...                                   ...    ...
3873            LETTER "W" BLING KEY RING      0
3874            LETTER "Z" BLING KEY RING      0
3875       PINK CRYSTAL SKULL PHONE CHARM      0
3876   CREAM HANGING HEART T-LIGHT HOLDER      2
3877          PAPER CRAFT , LITTLE BIRDIE      2

[3878 rows x 2 columns]

In [10]:
r = redis.Redis(host='34.69.13.112', port=31793, db=0)
pipe = r.pipeline()

In [11]:
for i in range(len(df['value'])):
    pipe.set("elabDescCateg:" + df['key'][i].strip(), str(df['value'][i]))
results = pipe.execute()